* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: grey;
    padding: 1rem 2rem;
}


header img {
    width: 60px;
    height: auto;
}

header nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent2-color);
}

main h1,
main p {
    text-align: center;
}

.contact-form {
    max-width: 350px;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: 600;
}

.contact-form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    background: #d9d9d9;
    border: 2px solid #bfbfbf;
    border-radius: 6px;
    cursor: pointer;
}




.box {
    background-color: white;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.images {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.images img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}


footer {

    background-color: gray;
    padding: 1.5rem;
    align-items: center;
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}


.socialmedia a {
    text-decoration: none;
    display: flex;
    gap: 1rem;
}

.socialmedia img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin: 0 5px;
}