 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }


 header {
   display: grid;
   grid-template-columns: 150px 1fr;
   align-items: center;
   background-color: #d7c8f4;
   padding: 1rem 2rem;
 }

 header img {
   width: 120px;
   height: auto;
 }

 header nav {
   display: grid;
   grid-template-columns: repeat(4, auto);
   /* 4 menu items */
   justify-content: end;
   align-items: center;
   gap: 2rem;
   background-color: transparent;
 }

 header nav a {
   text-decoration: none;
   font-weight: bold;
   color: var(--accent2-color);
 }


 main h1,
 main p {
   text-align: center;
 }

 /* Container for the map + form */
 .form-section {
   display: grid;
   grid-template-columns: 1fr 1fr;
   /* map left, form right */
   gap: 2rem;
   max-width: 900px;
   margin: 0 auto;
   padding: 2rem 0;
   align-items: start;
 }

 /* Map box */
 .map iframe {
   width: 100%;
   height: 350px;
   border: 1px solid #ccc;
   border-radius: 8px;
 }

 /* Form styling */
 .contact-form {
   display: flex;
   flex-direction: column;
   gap: 12px;
 }

 .contact-form label {
   font-weight: 600;
   font-size: 0.9rem;
 }

 .contact-form input[type="text"],
 .contact-form input[type="email"],
 .contact-form textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #999;
   border-radius: 6px;
   font-size: 0.9rem;
 }

 .contact-form textarea {
   height: 100px;
 }

 /* Radio button group */
 .purpose-title {
   font-weight: 600;
   margin-top: 5px;
 }

 .radio-option {
   display: flex;
   gap: 8px;
   align-items: center;
   font-size: 0.9rem;
 }

 .newsletter {
   display: flex;
   gap: 8px;
   align-items: center;
 }

 /* Submit button */
 .contact-form button {
   background-color: #d6b5f2;
   /* koulè mauve wireframe nan */
   padding: 10px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1rem;
   font-weight: 600;
   transition: 0.3s;
 }

 .contact-form button:hover {
   background-color: #c59be8;
 }


 /* Responsive: when the screen is small, map and form go one under the other */
 @media (max-width: 768px) {
   .form-section {
     grid-template-columns: 1fr;
   }
 }

 .box {
   background-color: #efe6fc;
   padding: 2rem;
   text-align: center;
   margin-top: 2rem;
 }

 .employees {
   display: flex;
   justify-content: center;
   gap: 2rem;
   margin-top: 1rem;
 }

 .employees img {
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 10px;
 }


 footer {

   background-color: #d7c8f4;
   padding: 1.5rem;
   align-items: center;
   display: flex;
   margin-top: 2rem;
   justify-content: space-between;
 }


 .socialmedia a {
   text-decoration: none;
   display: flex;
   gap: 1rem;
 }

 .socialmedia img {
   width: 25px;
   height: 25px;
   object-fit: contain;
   margin: 0 5px;
 }